@charset "utf-8";
/* CSS Document */
body {
	margin: 0px 0px 0px 0px;
	background-color: lightpink;
	background-attachment: fixed;
}
	.navy {
	    overflow: hidden;
	    background-color: lightgrey;
	    font-family: cursive;
			background-attachment: fixed;
	}

	.navy a {
	    float: left;
	    font-size: 16px;
	    color: black;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	#home {
		background-color: orange;
		color: white;
	}
	#home:hover {
		color: lightgreen;
		background-color: black;
	}
	.gender {
	    float: left;
	    overflow: hidden;
	}

	.gender .m {
	    font-size: 16px;
	    border: none;
	    outline: none;
	    color: blue;
	    padding: 14px 16px;
	    background-color: inherit;
	    font-family: inherit;
	    margin: 0;
	}
	.gender .w {
	    font-size: 16px;
	    border: none;
	    outline: none;
	    color: deeppink;
	    padding: 14px 16px;
	    background-color: yellow;
	    font-family: inherit;
			font-weight: bold;
	    margin: 0;
	}
	.navy a:hover {
	    background-color: black;
			color: white;
	}
	.gender:hover .m {
	    background-color: lightblue;
			transform: scale(1.2);
	}

	.gender:hover .w {
	    background-color: pink;
			transform: scale(1.2);
	}
	.me {
	    display: none;
	    position: absolute;
	    background-color: lightblue;
	    min-width: 500px;
	    box-shadow: 0px 10px 10px 0px;
	    z-index: 1;
	}

	.me a {
	    float: none;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.me a:hover {
	    background-color: #ddd;
	}

	.gender:hover .me {
	    display: block;
	}
	.we {
	    display: none;
	    position: absolute;
	    background-color: pink;
	    min-width: 500px;
	    box-shadow: 0px 10px 10px 0px;
	    z-index: 1;
	}

	.we a {
	    float: none;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.we a:hover {
	    background-color: #ddd;
	}

	.gender:hover .we {
	    display: block;
	}
	.eye {
		margin-top: 20px;
		margin-left: 20px;
		display: inline-block;
	}
.e1 {
	height: 200px;
	width: 300px;
	border: solid grey 4px;
	border-radius: 2%;
}
.h3ey a{
	text-decoration: none;
	font-weight: bold;
	font-family:sans-serif;
	border: groove black 6px;
	font-size: 25px;
	background-color: yellowgreen;
	color: black;
	color: blue;
}
.mar {
	border: double red 7px;
}
.pri {
	margin-left: 74px;
	display: inline;
	color: red;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: grey;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.gender #contact {
		font-size: 16px;
		border: none;
		outline: none;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
}
.gender:hover #contact {
	background-color: lightgreen;
	color: white;
}
.con {
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 300px;
	background-color: lightgreen;
	box-shadow: 0px 10px 10px 0px;
}
.con a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: black;
	text-align: left;
}
.con a:hover {
	background-color: #ddd;
}
.gender:hover .con {
display: block;
}

h1{
	 color: deeppink;
	 border: double purple;
	 position: sticky;
	 top: 0;
	 background-color: lightblue;
	 border-width: 10px;
 	text-shadow: 1px 1px;
}
.fo {
    padding: 10px;
    background: #ddd;
    background-color: black;
    opacity: 0.8;
}
.fo .cop {
    text-align: left;
    font-size: 10px;
    text-decoration: none;
}

.prev {
	margin-left: 600px;
	cursor: pointer;
width: auto;
padding: 10px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 50px 0px 0px 50px;
background-color: black;
text-decoration: none;
}
.next {
	text-decoration: none;
	cursor: pointer;
width: auto;
padding: 10px;
color: white;
font-weight: bold;
background-color: black;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 50px 50px 0;
}
.prev:hover, .next:hover {
  opacity: 0.5;
	}
